.center{
    margin-left: :auto;
    margin-right: auto;
}
.gallery-wrapper {
    position:relative;
}
.gallery-wrapper img {
    vertical-align:top;
}
.gallery-photo-wrapper:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(255, 255, 255, 0.68);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.wrapped-col:hover .gallery-photo-wrapper:after {
    opacity:1;
}
.gallery-title{
    top: 50%;
    text-align: center;
    width: 100%;
    position: absolute;
    color: black;
    display: none;
    font-family: "proxima-nova";
    font-size: 20px;
    line-height: 1.4em;
    margin-top: 30%;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    z-index:100;
}
.gallery-title p {
    font-size: 20px;
}
.wrapped-col:hover .gallery-title {
    display:block;
}
.p-title {
    font-family: "proxima-nova";
    font-size: 20px;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin-top: 50%;
    margin-bottom:10%;
}
.fixed {
    position: fixed;
}
.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
@media (max-width: 991px) {
	.gallery-photo-wrapper:after {
        opacity:1;
    }
	.gallery-title {
       display:block;
    }
    .fixed{
        position:relative;
    }
    .p-title > p {
        font-size:30px;
    }
    .p-title{
        margin-top:10%;
    }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
